.navbar1 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px !important;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  background-color: #02446C;
  color: #EEE;
  padding: 0px 50px;
}

.navbar1 a {
  color: #EEE;
}

.navbar1 a:visited {
  color: #EEE;
  text-decoration: none;
}

.navbar1 a:hover {
  color: #EEE;
  text-decoration: none;
  color: #A5CFFF;
}

.navbar1-left {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar1-right {
  float: right;
}
