/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat');

*, a:visited {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #EEE;
}

html, body {
  background-color: #202020;
  overflow-x: hidden;
}


hr {
  border-color: #DDD;
}

ul li {
  list-style: none;
}

h1 {
  margin: 0 auto;
  text-align: center;
  color: #EEE;
  margin:30px 0px;
}

input[type=text], input[type=email], input[type=password] {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding: 16px;
  width: 400px;
  margin-bottom: 15px;
}

input[type=submit] {
  background-color: #02446C;
  color: #EEE;
  padding: 10px 16px;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  line-height: 26px;
  text-align: center;
  transition-duration: 0.4s;
  margin-bottom: 20px;
  transition-duration: 0.4s !important;
}

input[type=submit]:hover {
  background-color: #56A83A;
}

#album_description {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding: 16px;
  width: 400px;
  height: 300px;
  margin-bottom: 15px;
}

#query {
  margin-top: 30px;
  width: 400px;
}

form {
  text-align: center;
}

.container-flex {
  width: 100%;
  display: flex;
  /*display: flex;*/
  /*align-items: center;*/
  justify-content: center;
}

.label-file {
  cursor: pointer;
}

.home-h1 {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 70px;
}

.pagination{
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 15px 5px;
  color: #DDD;
}

.pagination a:hover {
  text-decoration: none;
  color: #EEE;
  font-weight: bold;
}


@import 'components/navbar';
@import 'components/btn';
@import 'components/banner';
@import 'components/card';

